#nav-bar {
    background-color: #00a087;
    color: #e8fdff;
    padding: 0em 2em;
    position: fixed;
    height: 80px;
    width: 100%;
}
#nav-bar .header {
    font-size: 2em;
    margin-left: 10px;
    line-height: 2.25em;
    float: left;
}
#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar ul {
   list-style: none;
   float: right;
   margin: 0;
}

#nav-bar ul li a {
  display: inline-block;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.2em;
  line-height: 44px;
  background-color: #E8FDFF;
  color: #00a087;
  text-decoration: none;
  transition: 300ms;
}

#nav-bar ul li a:hover {
  background-color: #4cbcab;
  color: #E8FDFF;
  border-color: #E8FDff;
}
